html{
  background-image: linear-gradient(to bottom right, rgb(57, 57, 207), rgb(85 3 26));
  background-repeat: no-repeat;
  height: 100vh;
}

#root{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-top: 50px;
}

.is-done{
  background-color: #fff;
  padding: 8px;
  border-radius: 12px;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

ul{
  list-style: none;
}

.list-jobs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 800px;
  padding: 12px;
  border-radius: 12px;
}

.done {
  background-color: green;
}

.btn{
  width: 80px;
  height: 40px;
  border-radius: 16px;
  border: none;
}

.inp-add{
  width: 400px;
  height: 40px;
  outline: none;
  border: 2px solid pink;
  border-radius: 16px;
  padding: 0px 16px;
  margin-right: 10px;
}

li{
  width: 200px;
  line-height: 40px;
  border: 1px solid violet;
  padding: 8px;
  border-radius: 16px;
  color: #fff;
}

.inp-edit{
  height: 40px;
  border-radius: 16px;
  outline: none;
  border: 2px solid pink;
  padding: 0px 16px;
}


